[flake8]
max-line-length=88
exclude=.git,build,parsers/.antlr,parsers/GccOptions*er.py

# Ignore certain warnings:
# - T499 is noise (Success: no issues found in 1 source file)
# - W503 is noise because Black is used for formatting
ignore=T499,W503

# flake8-mypy
mypy_config=mypy.ini

# flake8-cognitive-complexity
max_cognitive_complexity=25